<footer id="gtco-footer" role="contentinfo" style="background-image: url(images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row row-pb-md">

            <div class="col-md-12 text-center">
                <div class="gtco-widget">
                    <h3>Entrar em Contato</h3>
                    <ul class="gtco-quick-contact">
                        <li>
                            <a href="#">
                                <i class="icon-phone"></i> 61981115424</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-mail2"></i> lucasleitemm@hotmail.com</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-chat"></i> Chat</a>
                        </li>
                    </ul>
                </div>
                <div class="gtco-widget">
                    <h3>Redes Sociais</h3>
                    <ul class="gtco-social-icons">

                        <li>
                            <a href="https://www.facebook.com/lucasleitemm">
                                <i class="icon-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/lucas-leite-4aa86b169/">
                                <i class="icon-linkedin"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>


        </div>

    </div>
</footer>